node_modules/
npm-debug.log
Thumbs.db
.idea
.vscode
.history
/test-results/
/playwright-report/
/playwright/.cache/
/tests-pw/playwright-report/
/tests-pw/text-results/
/tests-pw/.playwright-artifacts*